/* .body {
  background-image: url(https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg);
  background-color: #cccccc;
 } */

/* .home{
  display:flex;
  flex-direction: column;
  justify-content: center;
  color:blue;
  min-height: 100vh;
  max-width: 10vw;
  padding-left: 60%;
} */

.background{
    background-image: url(https://pixabay.com/get/57e0d4464b50a914f6d1867dda2932791139dde4564c704c7d2a78d09644c55e_1920.jpg);
    background-color: #cccccc;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
}

.title{
  padding-top: 15vh
}

.signIn{
  /* position: fixed; */
  margin-top: 30vh;
  margin-left: 15vw;
  padding: 35px;
  border-radius:50px;
  background-color:#00cc9945;

}

.signUp{
  /* position: fixed; */
  margin-top: 15vh;
  padding: 35px;
  border-radius:50px;
  background-color:#00cc9945;

}

.signUp:focus {
  /* border: none; */
  outline: none;
}

.signIn:focus {
  /* border: none; */
  outline: none;
}



