/* .allIncome{
  display: grid;
  grid-template-columns: repeat(3, auto);
} */

/* .expenseEditButton{
  justify-self: left;
} */

/* .expenseDeleteButton{
  justify-self: right;
} */

/* .allExpenses{
  display: grid; 
   grid-template-columns: repeat(3, auto);
} */